# Day6 Assignment

__Q1. Assuming that we have some email addresses in the "username@companyname.com" format, please write programto print the company name of a given email address. Both user names and company names are composed of letters only.__

In [1]:
x = input()

a = x.index("@")

print('The company name is:', x[a + 1:len(x)-4],end = ' ')

john@google.com
The company name is: google

__Q2. Write a program that accepts a comma-separated sequence of words as input and prints the words in a commaseparated sequence after sorting them alphabetically.__

In [2]:
items=[n for n in input().split(',')]
items.sort()
print(','.join(items))

without,hello,bag,world
bag,hello,without,world

__Q3. Create your own Jupyter Notebook for Sets.__

In [3]:
fruits = {"apple", "banana", "cherry"}
print(fruits) 

for x in fruits:
    print(x, end = ' ') 
    
print("banana" in fruits) #Check if "banana" is present in the set

fruits.add("mango") #Add an item to a set, using the add() method

fruits.update(["lichi", "mango", "pupaya"]) #Add multiple items to a set, using the update() method
print(fruits) 

print(len(fruits)) #Get the number of items in a set

fruits.remove("banana") #Remove "banana" by using the remove() method
print(fruits) 

x = fruits.pop()  #Remove the last item by using the pop() method
print(x)
print(fruits)

vegetable = {"Tamato", "Patato", "Eggplant", "Onion"} #The union() method returns a new set with all items from both sets
fruits_vegetable = fruits.union(vegetable)
print(fruits_vegetable) 

fruits_vegetable.clear()
print(fruits_vegetable)

{'cherry', 'banana', 'apple'}
cherry banana apple True
{'mango', 'cherry', 'banana', 'lichi', 'apple', 'pupaya'}
6
{'mango', 'cherry', 'lichi', 'apple', 'pupaya'}
mango
{'cherry', 'lichi', 'apple', 'pupaya'}
{'Onion', 'Eggplant', 'cherry', 'Tamato', 'Patato', 'apple', 'lichi', 'pupaya'}
set()

__Q4. Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.__

In [4]:
def missing_num(num_list):
    ol = [x for x in range(num_list[0], num_list[-1] + 1)]
    num_list = set(num_list)
    return (list(num_list ^ set(ol)))

print(missing_num([1, 2, 4, 6, 3, 7, 8]))

[5]

__Q5. With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.__

In [5]:
l1 = [12, 24, 35, 24, 88, 120, 155, 88, 120, 155]
print("The original list is:\n" , l1)

l2 = []

for i in l1:
    if i not in l2:
        l2.append(i)
print("The duplicate free sorted list is: \n", l2)

The original list is:
 [12, 24, 35, 24, 88, 120, 155, 88, 120, 155]
The duplicate free sorted list is:
 [12, 24, 35, 88, 120, 155]