In [1]:
import pandas as pd
import scipy.stats

In [2]:
df = pd.read_csv('general_data.csv')

In [3]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [4]:
df_no = df[df.Attrition == 'No']
df_yes = df[df.Attrition == 'Yes']
df_no.shape

(3699, 24)

In [5]:
df_yes.shape

(711, 24)

#  Mann Whitney Test

In [6]:
from scipy.stats import mannwhitneyu

## Hypothesis

__H0:__  There is no significant difference from 'DistanceFromHome' with respect to 'Attrition' yes or no.

__Ha:__  There is significant difference from 'DistanceFromHome' with respect to 'Attrition' yes or no.

In [7]:
stats,p_value = mannwhitneyu(df_no.DistanceFromHome, df_yes.DistanceFromHome)
stats,p_value

(1312110.0, 0.4629185205822659)

__P_value is greater than 0.05. Hence Null Hypothesis Fail. So we can conclude that 'there is significant impact with respect to distance from home.'__

## Hypothesis

__H0:__ There is no significant difference from 'MonthlyIncome' with respect to 'Attrition' yes or no.

__Ha:__ There is significant difference from 'MonthlyIncome' with respect to 'Attrition' yes or no.

In [8]:
stats,p_value = mannwhitneyu(df_no.MonthlyIncome, df_yes.MonthlyIncome)
stats,p_value

(1264900.5, 0.053577283839938566)

__P_value is Equal to 0.05. Hence Null Hypothesis Fail. So we can conclude that 'there is significant impact with respect to Monthly Income.'__

## Hypothesis

__H0:__ There is no significant difference from 'TotalWorkingYears' with respect to 'Attrition' yes or no.

__Ha:__ There is significant difference from 'TotalWorkingYears' with respect to 'Attrition' yes or no.

In [9]:
stats,p_value = mannwhitneyu(df_no.TotalWorkingYears, df_yes.TotalWorkingYears)
stats,p_value

(909958.0, 2.894653260702919e-39)

__P_value is less than. Hence Null Hypothesis Accepted. So we can conclude that 'there is  no significant impact with respect to Total Working Years.'__

## Hypothesis

__H0:__ There is no significant difference from 'YearsWithCurrManager' with respect to 'Attrition' yes or no.

__Ha:__ There is significant difference from 'YearsWithCurrManager' with respect to 'Attrition' yes or no.

In [10]:
stats,p_value = mannwhitneyu(df_no.YearsWithCurrManager, df_yes.YearsWithCurrManager)
stats,p_value

(957253.5, 1.2365483142169503e-31)

__P_value is less than. Hence Null Hypothesis Accepted. So we can conclude that 'there is  no significant impact with respect to Years With Current Manager.'__

## Hypothesis

__H0:__ There is no significant difference from 'YearsSinceLastPromotion' with respect to 'Attrition' yes or no.

__Ha:__ There is significant difference from 'YearsSinceLastPromotion' with respect to 'Attrition' yes or no.

In [11]:
stats,p_value = mannwhitneyu(df_no.YearsSinceLastPromotion, df_yes.YearsSinceLastPromotion)
stats,p_value

(1209366.0, 0.0002021180346719736)

__P_value is less than. Hence Null Hypothesis Accepted. So we can conclude that 'there is  no significant impact with respect to Years With Current Manager.'__

# T Test

In [12]:
from scipy.stats import ttest_ind

## Hypothesis

__H0:__ There is no significant difference from 'DistanceFromHome' with respect to 'Attrition' yes or no.

__Ha:__ There is significant difference from 'DistanceFromHome' with respect to 'Attrition' yes or no.

In [13]:
stats,p_value = ttest_ind(df_no.DistanceFromHome, df_yes.DistanceFromHome)
stats,p_value

(0.6460416038042738, 0.518286042805572)

__P_value is greater than 0.05. Hence Null Hypothesis Fail. So we can conclude that 'there is significant impact with respect to distance from home.'__

## Hypothesis

__H0:__ There is no significant difference from 'MonthlyIncome' with respect to 'Attrition' yes or no.

__Ha:__ There is significant difference from 'MonthlyIncome' with respect to 'Attrition' yes or no.

In [14]:
stats,p_value = ttest_ind(df_no.MonthlyIncome, df_yes.MonthlyIncome)
stats,p_value

(2.0708863763619316, 0.03842748490605113)

__P_value is less than. Hence Null Hypothesis Accepted. So we can conclude that 'there is  no significant impact with respect to Monthly Income.'__

## Hypothesis

__H0:__ There is no significant difference from 'YearsAtCompany' with respect to 'Attrition' yes or no.

__Ha:__ There is significant difference from 'YearsAtCompany' with respect to 'Attrition' yes or no.

In [15]:
stats,p_value = ttest_ind(df_no.YearsAtCompany, df_yes.YearsAtCompany)
stats,p_value

(9.004357011787226, 3.163883122491456e-19)

__P_value is less than. Hence Null Hypothesis Accepted. So we can conclude that 'there is  no significant impact with respect to Years at Company.'__

## Hypothesis

__H0:__ There is no significant difference from 'YearsWithCurrManager' with respect to 'Attrition' yes or no.

__Ha:__ There is significant difference from 'YearsWithCurrManager' with respect to 'Attrition' yes or no.

In [16]:
stats,p_value = ttest_ind(df_no.YearsWithCurrManager, df_yes.YearsWithCurrManager)
stats,p_value

(10.499379408703438, 1.7339322652918153e-25)

__P_value is less than. Hence Null Hypothesis Accepted. So we can conclude that 'there is  no significant impact with respect to Years With Current Manager.'__

## Hypothesis

__H0:__ There is no significant difference from 'Age' with respect to 'Attrition' yes or no.

__Ha:__ There is significant difference from 'Age' with respect to 'Attrition' yes or no.

In [17]:
stats,p_value = ttest_ind(df_no.Age, df_yes.Age)
stats,p_value

(10.70661860061757, 1.9968016158894556e-26)

__P_value is less than. Hence Null Hypothesis Accepted. So we can conclude that 'there is  no significant impact with respect to Age.'__